
<h1>Display:
<%= "FNTB (.75)" if session[:env] == "fntb" %>
<%= "Production (OEX)" if session[:env] == "prod" %>
<%= "FNTB (small test set)" if session[:env] == "fntb_test" %>
</h1> Change (<a href="fntb">FNTB</a> <a href="prod">Production</a> <a href="fntb_test">FNTB testset</a>)

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<% scenario  = params[:scenario] %>
<%= column_chart @ds.delta_request_chart(@st, @en, scenario)  %>

<%= form_tag(controller: "graph", action: "graph", method: "get") do %>
  <%= label_tag(:q, "Start:") %>
  <%= text_field_tag(:start_graph) %>
  <%= label_tag(:q, "End:") %>
  <%= text_field_tag(:end_graph) %>
  <%= label_tag(:q, "Scenario:") %>
  <%= text_field_tag(:scenario) %>
  <%= submit_tag("Submit") %>
<% end %>
<h4 style="color:silver">Date Range:</h4>
  <table style="width:100">
    <colgroup>
      <col style="background-color: silver">
      <col style="background-color: silver">
    </colgroup>
  <tr>
    <th>Start Range (hours back)</th>
    <th>End Range (hours back)</th> 
  </tr>
  <tr>
    <td><i><%= (-1*@st).to_s %></i> </td> 
    <td><i><%= (-1*@en).to_s %></i> </td> 
  </tr>
</table>
<h4 style="color:blue">Blue FILTER BY:</h4>
  <table style="width:100">
    <colgroup>
      <col style="background-color: silver">
      <col style="background-color: silver">
    </colgroup>
  <tr>
    <th>Filter</th>
    <th>Filter Status</th> 
  </tr>
  <tr>
    <td>Scenario</td>
    <td><i>None</i> </td> 
  </tr>
  <tr>
    <td>xsi:nil="true" present</td>
    <td><i>No</i> </td> 
  </tr>
  <tr>
    <td>bad href with #</td>
    <td><i>No</i> </td> 
  </tr>
  <tr>
    <td>href missing pointer</td>
    <td><i>No</i> </td> 
  </tr>
  <tr>
    <td>FICON</td>
    <td><i>No</i> </td> 
  </tr>
</table>

<h4 style="color:red">Red FILTER BY:</h4>
  <table style="width:100">
    <colgroup>
      <col style="background-color: silver">
      <col style="background-color: silver">
    </colgroup>
  <tr>
    <th>Filter</th>
    <th>Filter Status</th> 
  </tr>
  <tr>
    <td>Scenario</td>
    <td><i><%= scenario %> </i> </td> 
  </tr>
  <tr>
    <td>xsi:nil="true" present</td>
    <td><i>No</i> </td> 
  </tr>
  <tr>
    <td>bad href with #</td>
    <td><i>No</i> </td> 
  </tr>
  <tr>
    <td>href missing pointer</td>
    <td><i>No</i> </td> 
  </tr>
  <tr>
    <td>FICON</td>
    <td><i>No</i> </td> 
  </tr>
</table>
